a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.navbar ul {
    display: flex;
    position: absolute;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    width: auto;
    gap:3em;
}
.heading h1 {
    position: relative;
    font-weight: 800;
    font-size: 3em;
    line-height: 64px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3em;
    margin: 5% 0 5% 0;
    width: 80vw;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-picture {
    height: 55vh;
    width: 20vw;
    object-fit: cover;
    margin-bottom: 20%;
}
.grid img {
    height: 100%;
    width: 100%;
    padding: 5% 0 5% 0;
    transition: all 0.5s ease;
}
.grid img:hover  {
    transform: scale(1.1);
}
    
@media screen and (max-width: 700px){
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(3, 1fr);
        grid-gap: 1.5em;
    }
    .grid img{
        height: 80vh;
        width: 80vw;
    }
    .product {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5% 0 5% 0;
    }
    .product h3 {
        position: absolute;
    }
    .product h2{
        position: absolute;
    }
}